* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(219, 219, 170);
  /* max-width: 1200px;
  margin: 0px auto;
  padding: 100px; */
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.weather-details-styles-flex {
  display: flex;
  align-items: center;
}
.header {
  text-align: center;
}
.form-control {
  width: 30%!important;
  margin: 0px auto!important;
}
